@font-face {
    font-family: Cooper-Black;
    src: url("assets/CooperBlack.ttf");
}

body {
    background-color: #78bbcb;
}

h1 {
    text-align: center;
    font-family: Cooper-Black;
    font-size: 65px;
}

.Stuff {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    width: 60%;
    margin: auto;
    align-items: center;
    height: 71vh;
}

.Stuff div {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

#app {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}